<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>특허사무소 온음 상표 검색</title>

    <link rel="stylesheet" href="/static/css/custom_style.css">
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>

    <!-- Load Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Load Vue.js-->
    <script src="https://unpkg.com/vue@next"></script>


</head>
<body class="bg-light">
  <div class="">
    <div class="container" id="app">
      <!-- 검색바 -->
      <div class="row menu">
        <div class="col-md-12 order-md-1">
          <h3 class="mb-3"><b>상표 유사군 코드 검색</b></h3>
          <input v-model="searchQuery" class="form-control"
                 placeholder="상품명 검색식 입력" @keyup.enter="search">
          <div>
              <span @click="this.seen=!this.seen"> <a>((상세보기/감추기))</a> </span>
              : 각 상품명은 ','로 구분하고, 두개를 동시에 포함하는 경우 ()로 묶어 표시
              ex) (미술 and 설치), 조각, 회화 / and 대신 & 이용 가능
          </div>
          <div id="results">
              <table style="background:#FFFFFF;color:black">
                  <tr v-for="collect_name in collect_names">
                      <td>
                          [[ collect_name.niceclass ]] 류 :
                      </td>
                      <td>
                          <span v-for="namelist in collect_name.namelist" @click="collectNames(namelist)">
                              [[ namelist.name ]],
                          </span>
                      </td>
                  </tr>
              </table>
          </div>
        </div>
      </div>
      <!-- 조회화면 -->
      <div class="row" style="margin-top:200px">
        <div id="screen">
            <ul>
                <li v-for="(item_group, index) in item_groups" :key="index">
                    <h3><span @click="toggleItem(index)"> [[item_group.groupcode]] : </span>
                        <span v-for="classgroup in item_group.classgroup">
                            <span v-for="represent in classgroup.represent">
                            [[ represent ]],
                            </span>
                        </span>
                    </h3>
                    <table v-if="item_group.showContent">
                        <tr v-for="classgroup in item_group.classgroup">
                            <td style="vertical-align: top;width:50px"><b>[[ classgroup.niceclass[1] ]]류 : </b></td>
                            <td v-if="seen" >
                                <div>
                                    <span v-for="(name, index2) in classgroup.names"
                                          :key="index2" :class="getStyle(name.counts)" @click="collectNames(name)">
                                        [[ name.name ]],
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </li>
                </tbody>
            </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                searchQuery: '',
                sendingQuery:'',
                item_groups: [],
                seen:true,
                collect_names: []
            };
        },
        methods: {
            async search() {
                    if (!this.searchQuery) {
                        this.item_groups = [];
                        return;
                    }
                    try {
                        this.sendingQuery=this.searchQuery;
                        this.searchQuery=this.sendingQuery+" 검색하고 있습니다.";
                        const response = await axios.get(`http://3.39.195.177:8000/search/${encodeURIComponent(this.sendingQuery)}`);
                        this.item_groups = response.data;
                        this.searchQuery=this.sendingQuery+"의 검색결과";
                        console.log(this.item_groups);
                    } catch (error) {
                        console.error('Error fetching data:', error);
                    }

            },
            getStyle(value) {
                if (value === 4) {
                    return 'namestyle4';
                } else if (value === 3) {
                    return 'namestyle3';
                } else if (value === 2) {
                    return 'namestyle2';
                } else {
                    return 'namestyle1';
                }
            },
            toggleItem(index) {
                this.item_groups[index].showContent = !this.item_groups[index].showContent;
                console.log(this.item_groups)
            },
            collectNames(name) {
              // check if the niceclass of the clicked item already exists in the group
              const name_index = this.collect_names.findIndex((g) => g.niceclass === name.niceclass);
              if (name_index !== -1) {
                // if it does, add the code and name of the clicked item to the existing namelist
                const list_name_index = this.collect_names[name_index].namelist.findIndex((g) => g.name === name.name);
                if (list_name_index !== -1) {
                  this.collect_names[name_index].namelist.splice(list_name_index, 1)
                } else {
                  this.collect_names[name_index].namelist.push({ code: name.groupcode, name: name.name });
                }
              } else {
                // if it doesn't, create a new object with the niceclass and namelist attributes
                const newGroup = {
                  niceclass: name.niceclass,
                  namelist: [{ code: name.groupcode, name: name.name, niceclass: name.niceclass }]
                };
                this.collect_names.push(newGroup);
              }
            },
            removeNames(name) {
              // check if the niceclass of the clicked item already exists in the group
              const name_index = this.collect_names.findIndex((g) => g.niceclass === name.niceclass);
              if (name_index !== -1) {
                // if it does, add the code and name of the clicked item to the existing namelist
                const list_name_index = this.collect_names[name_index].namelist.findIndex((g) => g.name === name.name);
                if (list_name_index !== -1) {
                  this.collect_names[name_index].namelist.splice(list_name_index, 1)
                }
              }
              this.collect_names.push(newGroup);
            }
        },
        delimiters: ['[[', ']]']
    });

    app.mount('#app');

</script>

<style scoped>
.namestyle4 {
    font-size:1em;
    color: red;
}

.namestyle3 {
    font-size:1em;
    color: blue;
}

.namestyle2 {
    font-size:1em;
    color: black;
}

.namestyle1 {
    font-size:0.5em;
    color: grey;
}
</style>

<style>
    /* Set the properties of the menu div */
    .menu {
        position: fixed; /* Position the menu relative to the viewport */
        top: 0; /* Pin the menu to the top of the viewport */
        width: 100%; /* Make the menu span the full width of the viewport */
        background-color: #333; /* Set the background color of the menu */
        color: #fff; /* Set the font color of the menu */
        padding: 10px; /* Add some padding to the menu */
        box-shadow: 0px 2px 2px rgba(0,0,0,0.3); /* Add a shadow effect to the menu */
    }
</style>