<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>특허사무소 온음 상표 검색</title>

    <link rel="stylesheet" href="/static/css/custom_style.css">
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <!-- Load Axios -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Load Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>


</head>
<body class="bg-light">
  <div class="">
    <div class="container">
      <!-- 타이틀 -->
      <div class="row">
        <div class="text-center col-md-7 mx-auto">
          <br>
          <h3><b>상표 유사군 코드 검색</b></h3>
        </div>
      </div>

      <!-- 검색바 -->
      <div class="row">
        <div class="col-md-12 order-md-1">
          <h6 class="mb-3"><b>상품 정보</b></h6>
          <input type="text" class="form-control"
                 placeholder="상품명 검색식 입력. (), or, and 사용가능">
            <button @click="queryData">검색</button>
        </div>
      </div>

      <!-- 조회화면 -->
      <div class="row">
        <div id="screen">
            <ul>
                <li v-for="(item, index) in result" :key="index">{{ item }}</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<script>
import axios from 'axios';
import { ref } from 'vue';

export default {
  setup() {
    const inputValue = ref('');
    const result = ref([]);

    const queryData = async () => {
      const response = await axios.get('http://localhost:8000/my-endpoint', {
        params: {
          input: inputValue.value,
        },
      });
      result.value = response.data;
    };

    return {
      inputValue,
      result,
      queryData,
    };
  },
};
</script>

