<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>특허사무소 온음 상표 검색</title>

    <link rel="stylesheet" href="/static/css/custom_style.css">
    <!--
    <script src="/static/js/popper.min.js"></script>
    -->
    <script src="/static/js/bootstrap.js"></script>

    <!-- Load Axios-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Load Vue.js-->
    <script src="https://unpkg.com/vue@next"></script>


</head>
<body class="bg-light">
  <div class="">
    <div class="container">
      <!-- 타이틀 -->
      <div class="row">
        <div class="text-center col-md-7 mx-auto">
          <br>
          <h3><b>상표 유사군 코드 검색</b></h3>
        </div>
      </div>
    </div>
    <div class="container" id="app">
      <!-- 검색바 -->
      <div class="row">
        <div class="col-md-12 order-md-1">
          <h6 class="mb-3"><b>상품 정보</b></h6>
          <span>TEXT : {{ count }}</span><button @click="click">PRESS</button>
          <input v-model="searchQuery" class="form-control"
                 placeholder="상품명 검색식 입력" @keyup.enter="search">
          <div>
              : 각 상품명은 ','로 구분하고, 두개를 동시에 포함하는 경우 ()로 묶어 표시
              ex) (미술 and 설치), 조각, 회화 / and 대신 & 이용 가능
          </div>

      </div>

      <!-- 조회화면 -->
      <div class="row">
        <div id="screen">
            <ul>
                <li v-for="(value, key) in results" :key="key">{{ key }}: {{ value }}</li>
            </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
</body>
</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                searchQuery: '',
                results: [],
                count:0
            };
        },
        methods: {
            async search() {
                    if (!this.searchQuery) {
                        this.results = [];
                        return;
                    }
                    try {
                        const response = await axios.get(`http://3.39.195.177:8000/search/${encodeURIComponent(this.searchQuery)}`);
                        this.results = response.data;
                        console.log(this.results);
                    } catch (error) {
                        console.error('Error fetching data:', error);
                    }

            },
            click() {
                    console.log(this.count);
                    this.count=this.count+1;
                    console.log(this.count);
            }
        },
    });

    app.mount('#app');
</script>

