<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>특허사무소 온음 상표 검색</title>
	
	<!-- bulma.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	
	<!-- Load Vue.js-->
	<script src="https://unpkg.com/vue@next"></script>

</head>
<body class="bg-light">
    <section class="section">
        <div class="container">
            <div class="block">
		        <h3><b>상표 검색 Notion 생성 페이지</b></h3>
            </div>
        </div>
	    		 
	    
	    <form action="search_report" method="post">

	    <!-- 상표 입력 시작 -->
	    <div class="container" id="app-1">
	        <div class="block">
	            <div><h6 class="mb-3"><b>상표 정보</b></h6></div>

		        <!-- 상표 입력 -->
		        <div class="columns">
                    <div class="column is-2"> <label>no.</label></div>
	                <div class="column is-5"> <label>한글파트</label></div>
	                <div class="column is-5"> <label>영문파트</label></div>
                </div>
	            {% for i in range(1,11) %}
	            <div class="columns"
	                {% if i >3 %} v-if="seen" {% endif %} >
	                <div class="column is-1"> <label>{{ i }}</label> </div>
	                <div class="column is-4"> <input type="text" class="input is-small" name="markk"
	                                            {% if i == 1 %} required {% endif %} > </div>
	                <div class="column is-4"> <input type="text" class="input is-small" name="marke"> </div>
	            </div>
		        {% endfor %}
	            <!-- 상표 입력 끝 -->
	            <button @click="seen = !seen">더보기</button>
            </div>
		</div>
		<hr>
		   
	    <!-- 상품 입력 시작 -->
		<div class="container" id="app-2">
            <div class="block">
				<div><h6 class="mb-3"><b>류 및 지정상품 정보</b></h6></div>
             
	            <!-- 상표 입력 -->
		        <div class="columns">
                    <div class="column is-1"> <label>no.</label></div>
			        <div class="column is-1"> <label>class</label></div>
	                <div class="column is-4"> <label>유사군 코드</label></div>
	                <div class="column is-4"> <label>상품명</label></div>
                </div>
	            {% for i in range(1,11) %}
	            <div class="columns"
	                {% if i >3 %} v-if="seen2" {% endif %} >
	                <div class="column is-1"> <label>{{ i }}</label> </div>
	                <div class="column is-1"> <input type="number" class="input is-small" name="classno" value="0"
	                                            {% if i ==1 %} required {% endif %} > </div>
		            <div class="column is-4"> <input type="text" class="input is-small" name="group" placeholder="한 그룹으로 기재 / 예) G0301 G0502 S120602"
	                                            {% if i == 1 %} required {% endif %} > </div>
	                <div class="column is-4"> <input type="text" class="input is-small" name="name" placeholder="지정상품명 / 예) 가방 "
		                                        {% if i == 1 %} required {% endif %} > </div>
	            </div>
	            {% endfor %}
				<!-- 류 입력 끝 -->
		        <button @click="seen2 = !seen2">더보기</button>
            </div>
		</div>
	    <hr>
		<button class="button is-medium is-fullwidth" type="submit">일반 검토 보고서 작성</button>
		</div>
	    </form>
    </section>
</body>
</html>

<script>
  const app1 = Vue.createApp({
    data() {
      return {
        seen: false
      }
    }
  })

  const app2 = Vue.createApp({
    data() {
      return {
        seen2:false
      }
    }
  })

  app1.mount('#app-1')
  app2.mount('#app-2')
</script>


